<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>xDuka | <%= title %></title>
    <link rel="icon" type="image/png" href="/assets/xduka/img/mini.png">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic">
    <link rel="stylesheet" href="/assets/js/vertical-timeline/css/component.css">
    <link rel="stylesheet" href="/assets/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css">
    <link rel="stylesheet" href="/assets/css/font-icons/entypo/css/entypo.css">
    <link rel="stylesheet" href="/assets/css/neon.css">
    <link rel="stylesheet" href="/assets/css/custom.css">
    <!--XDUKA-->
    <link rel="stylesheet" href="/assets/xduka/css/skin.css">
    <script src="/assets/js/jquery-1.10.2.min.js"></script>
</head>
<body>
<div class="page-body page-fade" data-url="http://neon.dev">
    <div id="login-view" class="page-body login-page login-form-fall">
        <div class="login-container">
            <div class="login-header login-caret" style="min-height: 100%;height: 50vh">
                <div class="login-content headerLogin" style="height: 100%">

                    <a href="#" class="logo loginLogo">
                        <div style="background: url('/assets/xduka/img/logo.png') center no-repeat; height: 140px; background-size: contain"></div>
                    </a>

                </div>
            </div>

            <div class="container" style="min-height: 50vh; height: 100%">
                <div class="col-md-12 text-center">
                    <p class="infoReset">Olá, <%- dataUser.name %><br>preencha os campos abaixo para alterar sua senha</p>
                </div>
                <!--<form class="form-horizontal" action="/api/resetpassword" method="post">-->
                <form class="form-horizontal">

                    <div class="row">

                        <div class="col-md-12">
                            <!-- show any messages that come back with authentication -->
                            <% if (message.length > 0) { %>
                            <div class="alert alert-danger text-center centered center-block" style="width: 320px">
                                <p class="text-danger"><i class="entypo-info"></i><%= message %></p>
                            </div>
                            <% } %>

                            <div id="divMsgErro" class="alert alert-danger text-center centered center-block" style="width: 320px; display: none">
                                <p id="msgErro" class="text-danger"><i class="entypo-info"></i></p>
                            </div>

                            <div id="divMsgSuccess" class="alert alert-success text-center centered center-block" style="width: 320px; display: none">
                                <p id="msgSuccess" class="text-success"><i class="entypo-info"></i></p>
                            </div>

                            <div class="col-md-4 col-sm-5 col-xs-12 col-sm-offset-1 col-md-offset-2 paddingReset">
                                <div class="form-group">
                                    <label for="novaSenha">Nova senha</label>
                                    <input id="novaSenhaPw" name="newpass[password]" class="form-control" type="password"/>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-5 col-xs-12 paddingReset">
                                <div class="form-group">
                                    <label for="novaSenha">Confirmação da nova senha</label>
                                    <input id="novaSenhaCp" name="newpass[confirm]" class="form-control" type="password"/>
                                </div>

                                <p id="recallError" style="display: none" class="error text-danger"></p>
                            </div>

                        </div>


                    </div>
                    <div class="row">
                        <div class="text-center bottomReset centered center-block">
                            <button type="button"
                                    class="btn btn-blue btn-icon btn-blocK btn-lg btn-block" style="white-space: normal"
                                    onclick="$.passRecall.novaSenha({'pw': $('#novaSenhaPw').val(), 'cp': $('#novaSenhaCp').val(), 'email': '<%- dataUser.email%>', 'token': '<%- dataUser.token%>'})">
                                Salvar
                                <i class="entypo-check"></i>
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<!-- Bottom Scripts -->
<script src="/assets/js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/passRecall.js"></script>

</body>
</html>